@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Space Grotesk", monospace;
    background-color: black;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 1.2rem;
    --primary-color: aliceblue;
    --secondary-color: #aaa;
    --accent-color: #00ccdd;
    color: var(--primary-color);
}
header {
    position: fixed;
    width: min(100%, 1024px);
    top: 0;
    height: 3rem;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
}
#navbar ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
#navbar ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
a:hover {
    color: var(--accent-color);
}
main {
    margin-top: 3rem;
}
section {
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-color);
}
#welcome-section {
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--accent-color);
}
#info {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}
#projects h1, #connect h1 {
    font-size: 2rem;
    color: var(--accent-color);
}
#project_container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}
.project-tile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 500ms ease;
}
.project-tile:hover {
    border-color: rgba(255, 255, 255, 1);
}
#social_links {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 1rem;
}
@media (max-width: 768px) {
    #project_container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .project-tile {
        height: 3rem;
        border: none;
        justify-content: left;
        text-align: left;
    }
}