body {
    font-family: monospace;
    background-color: black;
    color: azure;
    margin: 30px;
}
.container {
    display: flex;
}
.container div {
    margin-right: 20px;
}
.link {
    color: powderblue;
}